{
    "preseed": {
        "app_name": "Application",
        "version": "0.0.1",
        "url": "https://localhost/",
        "auth": 0
    },
    "paths": {
        "regius": "/path/to/regius/",
        "config": "config"
    },
    "logger": {
        "runtime_logs_access": 0,
        "default_debug_level": 0
    }
}
